<h2>Create Room</h2>

<form action="/create-room" method="POST" id="form-container">

  <div>
    <label for="name">Room Name</label>
    <input id="name" type="text" name="name" required>
  </div>

  <div>
    <label for="description">Description</label>
    <textarea id="description" name="description" id="" cols="30" rows="10" required></textarea>
  </div>


  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}


  <div>
    <button>Create Room</button>
  </div>

</form>